<h2>Defence Of Alliance Tips</h2>
<p class="doa-tips">
    <span>In defense of alliance, a few zombies (about 11 boss included) spawn in yellow circles nearby our headquarters
        on the state map.
        We need to kill them as soon as possible to reach a higher level of rewards. After we kill the 10 zombies, a
        boss will appear.
        Each of them should be killed efficiently.
        <br />
        <hr>
    </span>

    <span>Participants should be online about 15 minutes before the event takes place so that groups can be formed.
        <br />
        <hr>
    </span>

    <span>A march towards a zombie and back takes 1 minute. It doesn’t matter if you are far away or close by the
        zombie. It will not influence the march time. That’s why strategy is very important to not waste time and
        marches.
        <br />
        <hr>
    </span>

    <span>The first 5 zombies can be killed with 1 march by higher level Headquarters. It’s important to make groups
        where the might is equally divided. The first 5 levels should be killed by the biggest Headquarters with 1 march
        only, the smaller Headquarters
        should focus on the boss only. From level 6 and up it is important that each group is focusing on 1 zombie and
        send marches out to that zombie only. This will prevent that 1 zombie is attacked by a group of only high might
        and another by 10 rallies and then another by only 1 rally and low might Headquarters.
        <br />
        <hr>
    </span>

    <span>Before sending out another march, check out the green health line of the zombie. If you see that the
        percentage is almost 0, and troops are already marching towards that zombie, you should save your march for the
        boss.
        <br />
        <hr>
    </span>

    <span>Each level of zombies and bosses will become more powerful. So don’t give up at the beginning because every
        help is needed after level 5 and up.
        <br />
        <hr>
    </span>

    <span>The more levels we can defeat, the greater the rewards and the higher the state rankings.
        <br />
    </span>

</p>