<h2>Reservoir War Tips</h2>
<p class="rw-tips">
    <span>Only HQ 18 and higher can participate.
        <br />
        <hr>
    </span>

    <span>Make sure that you finish gathering before the event starts.
        <br />
        <hr>
    </span>
    <span>Your troops will end up at the state hospital if they were injured. They will be fully
        returned after the event. If you need to heal during the event, it only requires speed-ups. But if you are not
        attacking and are just filling buildings, it is better not to waste the speed-ups.
        <br />
        <hr>
    </span>

    <span>The purpose of this event is, to conquer/occupy as much buildings as possible. The buildings
        will open up in different stages. First the towers, second the hospitals and military buildings, third logistics
        building and last the Doomtower.
        <br />
        <hr>
    </span>
    <span>
        When you enter the event, your Headquarters will be ported to a safe zone. In this zone, you can’t be attacked,
        but you can send out marches to reinforce or attack buildings.
        <br />
        <hr>
    </span>

    <span>The biggest HQ’s should try to direct port and defend buildings and/or conquer buildings where the watertruck
        is going to pass and the the one with the biggest rally should occupy the doom first. The people occupying the
        doom with the best T’s + buildings where the watertruck passes, give the most points.
        <br />
        <hr>
    </span>

    <span>
        The smaller HQ’s should try to reinforce a building so that the buildings are occupied. The 3 towers closest to
        the safezone will be occupied first.
        <br />
        <hr>
    </span>
    <span>Keep some marches available to occupy the hospital and the military building for advantages during the game.
        After a few more minutes the doomtower will be unlocked. That tower should be reinforced as much as possible.
        <br />
        <hr>
    </span>

    <span>If you notice that your building is under attack, place the coordinates in the chat and call for
        reinforcements.
        <br />
        <hr>
    </span>

    <span>In reservoir war it is needed to win a few events otherwise, the logistics buildings will not unlock. Only if
        we climb up, and win a few events, the logistics towers will become available. Logistic buildings give first 5
        direct ports and then every minute 1 port. But without the building, direct ports aren’t free. So be careful if
        you use them.
        <br />
        <hr>
    </span>
    <span>
        After the event, we’ll get some waterbottles. These waterbottles can be traded for Levina fragments. Levina is a
        very intersting Hero because her boosts are passive so try to get as many fragments as possible.
    </span>
</p>