<h2 class="events-header bold">
    This is for tracking all of the heros and what their skills are.
</h2>
<h3>
    <b>Tip:</b> Decide one type of troop you want to focus on and train enough troops to only send that type to rallies. Same goes for heros, only use the troops that specialize in that one type of hero! Even if they are 3 star, it's still better than the generic troop boost from higher stared heros.
</h3>
<mat-form-field appearance="standard"
                class="filter-input">
    <mat-label>Filter heroes by...</mat-label>
    <input matInput
           (keyup)="applyFilter($event)"
           #input>
</mat-form-field>

<table mat-table
       matSort
       multiTemplateDataRows
       [dataSource]="heroData"
       class="hero-table mat-elevation-z8"
       matSortActive="name">

    <ng-container matColumnDef="{{column}}"
                  *ngFor="let column of displayedColumns">
        <th mat-header-cell
            *matHeaderCellDef
            class="hero-header"
            mat-sort-header> {{getDisplayName(column)}} </th>
        <td mat-cell
            *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
        <td mat-cell
            *matCellDef="let element"
            [ngClass]='element.color.toLowerCase() + "-td"'
            [attr.colspan]="displayedColumns.length">
            <div class="element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="element-diagram">
                    <div class="element-name"> {{element.name}} </div>
                    <div class="element-starRating bold"> {{element.starRating}} Star </div>
                    <div class="element-type"> {{element.type}} </div>
                    <div class="element-type"> {{element.color}} </div>
                </div>
                <div class="element-description">
                    <span class="troop-skill"><span class="bold">Troop Skill 1:</span> {{element.troopSkill1}}<br /></span>
                    <span class="troop-skill"><span class="bold">Troop Skill 2:</span> {{element.troopSkill2}}<br /></span>
                    <span class="troop-skill"><span class="bold">Troop Skill 3:</span> {{element.troopSkill3}}<br /><br /></span>
                    <div class="bold"> Recommended levels for specific builds:</div>
                    <div class="economy-Level"><span class="bold">Economy and troop size:</span> {{(element.ecoLevel ? element.ecoLevel : 'Not needed')}} </div>
                    <div class="fighterLevel"><span class="bold">Fighter Spec:</span> {{(element.fighterLevel ? element.fighterLevel : 'Not needed')}} </div>
                    <div class="shooterLevel"><span class="bold">Shooter Spec:</span> {{(element.shooterLevel ? element.shooterLevel : 'Not needed')}} </div>
                    <div class="riderLevel"><span class="bold">Rider Spec:</span> {{(element.riderLevel ? element.riderLevel : 'Not needed')}} </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let element; columns: displayedColumns;"
        class="element-row"
        [ngClass]='element.color.toLowerCase() + "-tr"'
        [matTooltip]="expandedElement !== element ? 'Click row to expand hero info!' : ''"
        [class.expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"></tr>
</table>