.hero-table{
  width: 100%;
}

.header-row{
  font-weight: bold;
  font-size: medium;
  white-space: normal;
  max-width: 80px;
}

.center-cell{
  text-align: center;
  white-space: normal;
}

.filter-input{
  width: 20%;
}
