<h2 class="events-header bold">
    Alliance Members Preferred times
</h2>
<div>
    <a mat-raised-button
       color="accent"
       href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"
       target="blank">Click here for where timezone database name
        was found (best guess)</a>
</div>


<div class="time-zone-tables">
    <div class="player-data-header">
        <table mat-table
               matSort
               multiTemplateDataRows
               [dataSource]="playerData"
               class="time-zone-table mat-elevation-z8">

            <ng-container matColumnDef="name">
                <th mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef
                    class="header-row"> Player Name </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="preferredTime">
                <th mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef
                    class="header-row"> Preferred Time (local) </th>
                <td mat-cell
                    *matCellDef="let element"> {{getPersonalTime(element.preferredTime, element.location)}} </td>
            </ng-container>

            <ng-container matColumnDef="utcTime">
                <th mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef
                    class="header-row"> Preferred Time (UTC) </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.utcTime}} </td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef
                    class="header-row"> Location database name
                </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.location}} </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let element; columns: displayedColumns;"
                class="row">
            </tr>
        </table>
    </div>
</div>