<h2 class="events-header bold">
    Event Schedule
</h2>

<mat-form-field appearance="standard"
                class="filter-input">
    <mat-label>Filter events by...</mat-label>
    <input matInput
           (keyup)="applyFilter($event)"
           placeholder="For example: Speaker trap"
           #input>
</mat-form-field>

<div class="schedule-tables">
    <div class="week-heading">
        <h3>Week 1</h3>
        <table mat-table
               multiTemplateDataRows
               [dataSource]="week1Schedule"
               class="week-one-event-table mat-elevation-z8">

            <ng-container matColumnDef="startDate">
                <th mat-header-cell
                    *matHeaderCellDef
                    class="header-row"> Event Start Date </th>
                <td mat-cell
                    *matCellDef="let element"> {{getDate(element.startDate)}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell
                    *matHeaderCellDef
                    class="header-row"> Event Name </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let element; columns: displayedColumns;"
                class="element-row">
            </tr>
        </table>
    </div>


    <div class="week-heading">
        <h3>Week 2</h3>
        <table mat-table
               multiTemplateDataRows
               [dataSource]="week2Schedule"
               class="week-two-event-table mat-elevation-z8">

            <ng-container matColumnDef="startDate">
                <th mat-header-cell
                    *matHeaderCellDef
                    class="header-row"> Event Start Date </th>
                <td mat-cell
                    *matCellDef="let element"> {{getDate(element.startDate)}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell
                    *matHeaderCellDef
                    class="header-row"> Event name </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let element; columns: displayedColumns;"
                class="element-row">
            </tr>
        </table>
    </div>

    <div class="week-heading">
        <h3>Week 3</h3>
        <table mat-table
               multiTemplateDataRows
               [dataSource]="week3Schedule"
               class="week-three-event-table mat-elevation-z8">

            <ng-container matColumnDef="startDate">
                <th mat-header-cell
                    *matHeaderCellDef
                    class="header-row"> Event Start Date </th>
                <td mat-cell
                    *matCellDef="let element"> {{getDate(element.startDate)}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell
                    *matHeaderCellDef
                    class="header-row"> Event name </th>
                <td mat-cell
                    *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
                *matRowDef="let element; columns: displayedColumns;"
                class="element-row">
            </tr>
        </table>
    </div>
</div>