<mat-drawer #drawer
            class="sidenav"
            mode="side">

  <button mat-raised-button
          color="primary"
          [routerLink]="['/heroes']"
          (click)="drawer.toggle()"
          class="nav-button">
    Hero Info
  </button>

  <button mat-raised-button
          color="primary"
          [routerLink]="['/events']"
          (click)="drawer.toggle()"
          class="nav-button">
    Event Tips and Tricks
  </button>

  <button mat-raised-button
          color="primary"
          [routerLink]="['/event-schedule']"
          (click)="drawer.toggle()"
          class="nav-button">
    Event Schedule
  </button>
</mat-drawer>

<div class="top-nav">
  <button mat-mini-fab
          color="primary"
          (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <h1 class="header-text">WhiskeyRebels Tips, Tricks and Event Schedule</h1>
</div>