.event-table{
  width: 100%;
}

.bold{
  font-weight: 500;
}

.header-row{
  font-weight: bold;
  font-size: 1.4rem;
  white-space: normal;
  max-width: 80px;
}

.center-cell{
  text-align: center;
  white-space: normal;
}

.filter-input{
  width: 50%;
}

.element-name{
  font-size: 1.6rem;
  font-weight: 500;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
  opacity: 100%;
}

.element-symbol {
  font-weight: 600;
  font-size: 4.0rem;
  line-height: normal;
}

.element-description {
  padding: 16px;
  opacity: 100%;
}

.element-description-attribution {
  opacity: 0.5;
}